p#notice = notice

p = @admin_category.name

-unless @parent_name.blank?
  p = "Parent"
  p = @parent_name

p = image_tag @admin_category.picture.avatar.url

br

= link_to 'Edit', edit_admin_category_path(@admin_category)
'|
= link_to 'Back', admin_categories_path
