p#notice = notice

p = @admin_product.title
p = @admin_product.description
p = @admin_product.price

- @admin_product.pictures.each do |picture|
  = image_tag picture.avatar.url


br


= link_to 'Edit', edit_admin_product_path(@admin_product)
'|
= link_to 'Back', admin_products_path
