p#notice = notice

p = resource.title
p = resource.description
p = resource.price

- unless resource.category_id.blank?
  p = resource.category.name

- resource.pictures.each do |picture|
  = image_tag picture.avatar.url

br

= link_to 'Edit', edit_admin_product_path(resource)
'|
= link_to 'Back', admin_products_path
