h5 Lots#show

p#notice = notice

h5 = 'Шаг цены'
p = @lot.step_price

h5 = 'Дата начала'
p = @lot.begin_date

h5 = 'Дата окончания'
p = @lot.expire_date

br


p Find me in app/views/lots/show.html.slim
